#podesavanja{
    text-align: center;
    margin: auto;
    
}

#sajt{
    background-image: url(pozadina2.jpg);
    background-size: cover;
}

table{
    border-color: black;
    border-width: 5px;
}
.belo{
    background-color: white;
    width:25px;
    height: 25px;
}

.plavo{
    background-color: blue;
    width:25px;
    height: 25px;
}

.narandzasto{
    background-color: orange;
    width:25px;
    height: 25px;
}

.zuto{
    background-color: yellow;
    width:25px;
    height: 25px;
}
.svetloplavo{
    background-color: lightblue;
    width:25px;
    height: 25px;
}
.zeleno{
    background-color: green;
    width:25px;
    height: 25px;
}
.ljubicasto{
    background-color: purple;
    width:25px;
    height: 25px;
}
.crveno{
    background-color: red;
    width:25px;
    height: 25px;
}

#linkovi{
    text-align: center;
}

button {
    background-color:gainsboro; 
    border: 1px solid;
    border-color: black;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
}

#zaglavlje{
    text-align: center;
}

#tekst{
    text-align: center;
}

#polja{
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
}